@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

.container {
  margin: 0 auto;
  width: 750px;
  background: #444753;
  border-radius: 5px;
}

.people-list {
  width: 260px;
  float: left;
  border-top: 2px solid #b0b0b0;
  border-top-left-radius: 40px;
}
.people-list .search {
  padding: 20px;
}
.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  width: 90%;
  font-size: 14px;
}
.people-list .fa-search {
  position: relative;
  left: -25px;
}
.people-list ul {
  padding: 20px;
  height: 580px;
  overflow-y: scroll;
}
.people-list ul li {
  padding-bottom: 20px;
  cursor: pointer !important;
}
.people-list img {
  float: left;
}
.people-list .about {
  float: left;
  margin-top: 8px;
  line-height: 15px;
}
.people-list .about {
  padding-left: 8px;
}
.people-list .status {
  color: #92959E;
}

.chat {
  width: 490px;
  height: 666px;
  float: left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 400px;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #86BB71;
}
.chat .chat-history .other-message {
  background: #94C2ED;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 93%;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}
.chat .chat-message button:hover {
  color: #75b1e8;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.logout-btn{
  display:flex;
  height: 30px;
  border-radius: 30px;
  background: #efefef;
  margin: 15px 10px 5px 5px;
  color: #666666;
  align-items: center;
  justify-content: center;
  padding-right: 8px;
  padding-left: 8px;
  cursor: pointer;
}
.logout-btn i{
  font-size: 19px;
  margin-right: 5px;
}

.me-name{
  display: flex;
  margin: 5px 5px 5px 20px;
  flex-direction: column !important;
  padding-top: 10px;
  line-height: 17px;
}

.me-name .name{
  font-weight: bold;
  font-size: 17px;
}

.me-name .email{
  font-size: 13px;
  color: #b0b0b0;
}


.me {
  color: #94C2ED;
}

.dp-wrds{
  display: flex;
  position: relative;
  width: 47px;
  height: 47px;
  background: #dedede;
  float: left;
  border-radius: 55px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #777777;
  border: 3px solid #777777;
}
.dp-wrds.online{
  border: 3px solid #86BB71 !important;
  color: #86BB71 !important;
}
.unseen{
    position: absolute;
    top: -7px;
    right: -7px;
    background: red;
    color: white;
    font-size: 11px;
    font-weight: bold;
    width: 19px;
    height: 19px;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}
small.username i,.me-name i{
  font-style: italic !important;
  font-size: 11px;
  color: #b0b0b0;
  font-weight: bold;
}


.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}